<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous">

        <!-- Font Awesome CSS -->
        <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

        <link href="/static/mystyle.css" rel="stylesheet">
        <title>게시판 전체 목록 조회</title>
        <script>

            //카테고리셀렉트값이 변경이 도니다면 .get_goods() 을 실행하라 그런데 $(this).val()값을 넘겨준다.
            $(document).ready(function () {
                get_board()
                $("#categorySelect").on("change", function () {
                    get_goods($(this).val())
                })
            })

            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                $.removeCookie('userName', {path: '/'});
                window.location.href = "/"
            }

            function get_board(category) { //화면 실행시 리스트 함수 호출
                $("#boardList").empty()
                console.log(category)
                $.ajax({
                    type: "GET",
                    url: `/api/list${category
                        ? "?category=" + category
                        : ""}`,
                    data: {},
                    success: function (response) {
                        let boards = response["boards"]
                        let year = String(boards[0]["date"]).substring(0, 4);
                        console.log(year)
                        console.log(boards[0]["date"])

                        for (let i = 0; i < boards.length; i++) {
                            make_list(boards[i])

                        }
                    }
                })
            }

            function make_list(boards) { // 리스트 뿌리기
                let htmlTemp = ` <div onclick="location.href='/detail?no=${boards["no"]}'" id="boardList" class="card">
            <h5 class="card-header">${String(boards["date"]).substring(0, 4)}년
                ${String(boards["date"]).substring(4, 6)}월
                ${String(boards["date"]).substring(6, 8)}일
                ${boards["writer"]}</h5>
              <div class="card-body">
              <h5 class="card-title">${boards["title"]}</h5>
              <p class="card-text">${boards["content"]}</p>
                 </div>
                 </div>`
                $("#boardList").append(htmlTemp)
            }

            function makeNoti(data) {
                let htmlTemp = `<div class="alert alert-sparta alert-dismissible show fade" role="alert" id="customerAlert">
                                    ${data["userName"]}님이 방금 <a href="#" class="alert-link">${data["goodsName"]}</a>을 구매했어요!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>`
                $("body").append(htmlTemp)
            }

            function number2decimals(num) {
                return (Math.round(num * 100) / 100).toFixed(2);
            }
        </script>
        <style>
            .card {
                cursor: pointer;
            }

            html {
                overflow: auto;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-sparta justify-content-end">
            <a class="navbar-brand" href="/">
                <div width="30px" height="100px" class="d-inline-block align-top" alt="">
                    전체 게시판 목록
                </div>
            </a>
            <button
                class="navbar-toggler ml-auto"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div
                class="navbar-collapse collapse flex-grow-0 ml-auto"
                id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-right">
                    <li class="nav-item" id="link-cart">
                        <a class="nav-link" href="/post">
                            글쓰기<i class="fa " aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="wrap">
            <div>
                <div class="form-group row mr-0">
                    <label for="categorySelect" class="col-4 col-form-label">카테고리</label>
                    <!-- 이아이디 값을 받아옴 -->
                    <select id="categorySelect">
                        <option value="" selected="selected">전체</option>
                        <option value="drink">제목</option>
                        <option value="drink">작성자명</option>
                        <option value="food">작성날짜</option>
                    </select>
                    <input type="text">
                </div>
            </div>

        </div>
        <div id="boardList"></div>

    </div>

</body>

</html>